:root {
  --text-color1: white;
  --text-color2: grey;
  --text-hover-color1: red;
  --background-color1: white;
  --background-color2: grey;
  --background-color3: rgb(53, 2, 2);
  --coffee-color: rgb(53, 2, 2);
  --main-border-radius: 0.346rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
    
  body {
    font-family: Poppins, sans-serif;
    min-width: 300px;
  }
  
  /* #NAVBAR  */
  #navbar {
    display: flex;
    justify-content:  flex-end;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid var(--text-color1);
    background-color: var(--background-color3);
  }
  
  .nav-list {
    display: flex;
    margin: 2rem;
    gap: 3rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--text-color1);
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: var(--text-hover-color1);
  }
  
  li {
    list-style: none;
  }

  /* #NAVBAR MEDIA */
  @media (max-width: 520px) {
    html {
      font-size: 80%;
    }
  
    .project-img {
      height: 30%;
      width: 50%;
    }

    #navbar {

    }

    .nav-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
      margin: 1.67rem;
    }

    .nav-link {
      font-size: 1em;
    }
  }

  @media (max-width: 300px) {
    #navbar {
      display: block;
      position: static;
    }

    .nav-list {
      padding: 1.67rem;
      margin: 0;
    }
  }

  /* #WELCOME-SECTION */
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color1);
  }
  
  .my-name {
    transform-origin: right;
    font-size: 3.2rem;
    padding: 0.5rem;
  }
  
  .my-job {
    font-size: 1.1rem;
    font-style: italic;
  }

  #coffee {
    color: var(--coffee-color);
  }

  #coffee:hover {
    transform: rotate(180deg);
    transition: all 1.5s ease-in-out;
    cursor: grab;
  }
  
  .job, .code {
    color: var(--text-color2);
  }
  
  .job:hover {
    color: blue;
    cursor: grab;
  }
  /* #PROJECTS SECTION */
  .projects-section {
    text-align: center;
    padding: 8rem 1.2rem;
    background-color: lightgray;
  }
  
  .projects-section-title {
    font-size: 2rem;
    max-width: 600px;
    margin: 0 auto 4rem auto;
    border-bottom: 1px solid var(--background-color3);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: 
      repeat(auto-fit, 
      minmax(260px, 1fr));
    grid-gap: 4.5rem 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  /* .project {
    background-color: var(--background-color2);
    border-radius: 0.63rem;
  } */
  
  .project-tile {
    text-decoration: none;
    color: black;
    background-color: var(--background-color3);
    border-radius: var(--main-border-radius);
  }
  
  .project-img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--main-border-radius);
  }

  .project-tile:hover {
    box-shadow: 5px 5px 10px var(--background-color3);
    transform: scale(1.05);
    transition: all 0.25s ease-in-out
    
  }
  
  .project-title {
    padding: 0.5rem;
    width: 100%;
    font-size: 0.8rem;
    border-radius: var(--main-border-radius);
    background-color: var(--background-color2);
  }
  
  .btn {
    padding: 0.5rem;
    background-color: rgb(53, 2, 2);
    border-radius: var(--main-border-radius);
    color: var(--text-color1);
    text-decoration: none;
  }

  .btn:hover {
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(2);
    transition: 0.25s ease;
    color: var(--text-hover-color1);
  }
  /* EXPERIENCE SECTION */
.experience-section {
  text-align: center;
  padding: 5rem 1rem;
  background-color: var(--background-color2);
}

.experience-section-title {
  grid-column: 2;
  grid-row: 1;
  margin-top: 0;
  font-size: 1.2rem;
}

.experience-paragraph {
  grid-column: 2;
  grid-row: 1;
  padding: 1rem;
  margin-top: 1rem;
}

.my-tools-title {
  margin-top: 0;
  font-size: 1.2rem;
  grid-column: 2;
  grid-row: 2;
}

.my-tools-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 1rem;
  grid-column: 2;
  grid-row: 2;
}

.lni {
  font-size: 1.5rem;
}

.lni:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-in-out;
  color: blue;
  cursor: pointer;
}

.icon-disc {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0.5rem;  
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  
}

.img-container {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--main-border-radius);
}

figcaption {
  font-size: small;
  font-style: italic;
}


.experience-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

  /* #CONTACT SECTION */
  .contact-section {
    height: 90vh;
    text-align: center;
    padding: 10rem 1.2rem;
    padding-bottom: 3rem;
    background-color: var(--background-color3);
  }
  
  .contact-section-title {
    font-family: Raleway;
    font-size: 3rem;
    color: var(--text-color1);
  }
  
  .contact-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    overflow: hidden;
  }
  
  .contact-link {
    color: var(--text-color1);
    font-size: 1rem;
  }
  
  .contact-link:hover {
    color: var(--text-hover-color1);
  }
  /* #FOOTER */
  .footer-divider{
    border: 1px solid var(--background-color1);
  }

  .footer-text {
    font-size: 0.75rem;
    color: var(--text-color1);
    margin-top: 4rem;
  }