* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
    
  body {
    font-family: Poppins, sans-serif;
    min-width: 300px;
  }
  
  /* #NAVBAR  */
  #navbar {
    display: flex;
    justify-content:  flex-end;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid white;
    background-color: black;
  }
  
  .nav-list {
    display: flex;
    margin: 2rem;
    gap: 3rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: red;
  }
  
  li {
    list-style: none;
  }

  /* #NAVBAR MEDIA */
  @media (max-width: 520px) {
    html {
      font-size: 80%;
    }
  
    .project-img {
      height: 30%;
      width: 50%;
    }

    #navbar {

    }

    .nav-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
      margin: 1.67rem;
    }

    .nav-link {
      font-size: 1em;
    }
  }

  @media (max-width: 300px) {
    #navbar {
      display: block;
      position: static;
    }

    .nav-list {
      padding: 1.67rem;
      margin: 0;
    }
  }

  /* #WELCOME-SECTION */
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  
  .my-name {
    transform-origin: right;
    font-size: 3.2rem;
    padding: 0.5rem;
  }
  
  .my-job {
    font-size: 1.1rem;
    font-style: italic;
  }

  #coffee:hover {
    transform: rotate(180deg);
    transition: all 1.5s ease-in-out;
    cursor: grab;
  }
  
  .job, .code {
    color: gray;
  }
  
  .job:hover {
    color: blue;
    cursor: grab;
  }
  /* #PROJECTS SECTION */
  .projects-section {
    text-align: center;
    padding: 8rem 1.2rem;
    background-color: lightgray;
  }
  
  .projects-section-title {
    font-size: 2rem;
    max-width: 600px;
    margin: 0 auto 4rem auto;
    border-bottom: 1px solid black;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: 
      repeat(auto-fit, 
      minmax(260px, 1fr));
    grid-gap: 4.5rem 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  .project {
    background-color: gray;
    border-radius: rem;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .project-img  {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .project-tile:hover {
    box-shadow: 10px 10px 15px black;
    transform: scale(1.05);
    transition: all 0.25s ease-in-out
    
  }
  
  .project-title {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  
  .btn {
    padding: 0.5rem;
    background-color: black;
    border-radius: 3px;
    color: white;
  }

  .btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(2);
    transition: 0.25s ease;
  }
  /* EXPERIENCE SECTION */
.experience-section {
  text-align: center;
  padding: 5rem 1rem;
  background-color: gray;
}

.experience-section-title {
  grid-column: 2;
  grid-row: 2;
  margin-top: 0;
  font-size: 1.2rem;
}

.experience-paragraph {
  grid-column: 2;
  grid-row: 2;
  padding: 1rem;
  margin-top: 1rem;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
  width: 100%;  
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  
}

.img-container {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

figcaption {
  font-size: small;
  font-style: italic;
}


.experience-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

  /* #CONTACT SECTION */
  .contact-section {
    height: 100vh;
    text-align: center;
    padding: 8rem 1.2rem;
    background-color: black;
  }
  
  .contact-section-title {
    font-family: Raleway;
    font-size: 3rem;
    color: white;
  }
  
  .contact-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    overflow: hidden;
  }
  
  .contact-link {
    color: white;
    font-size: 1rem;
  }
  
  .contact-link:hover {
    color: red;
  }